<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677804777665-afmo16qf278prv3aidb4jb2rbs9335ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677804777665-afmo16qf278prv3aidb4jb2rbs9335ik</string>
	<key>API_KEY</key>
	<string>AIzaSyB3brzUKEgHs1cQa7pb00tANkJH5LQcSrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>677804777665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.tenpearlsuniversity</string>
	<key>PROJECT_ID</key>
	<string>tenpearls-uni-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>tenpearls-uni-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677804777665:ios:9cc5e21c3c06a97cd0b440</string>
</dict>
</plist>